html{
    min-height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    background: linear-gradient(30deg, #134d6b, #4d91a8);
    /*background-image: url("Images/sand.jpg");*/
}

body{
    padding-left: 12.5%;
    padding-right: 12.5%;
}


/*Shaping*/

#header{
    /*float: left;*/
    padding: 0 0 0;
    width: 100%;
}

#logo{
    float: left;
    margin-left: 0;
    margin-top: 0;
    padding: 2px 0 1px;
    height: 109px;
    width: 109px;
}

#brand{
    /*text-decoration: none;*/
    padding-top: .2em;
    padding-bottom: .1em;
    padding-left: .4em;
    margin: 0;
    height: 50%;
    border-top: 3px solid #FF5716;
    border-bottom: 3px solid #FF5716;
    border-radius: 10px 10px 0 0;
    font-size: x-large;
    background-color: #9DB1CD;
    color: #165cc2;
}

#brand a{
    text-decoration: none;
}

#brand a:active, #brand a:hover, #brand a:visited{
    color: #165cc2;
    text-shadow: 0 0 10px #e6034b;
    text-decoration: none;
}

.navLink a{
    font-weight: bold;
}

.navLink a:link{
    text-decoration: none;
    color: #dfe12b;
    text-shadow: 0 0 5px #165CC2;
}

.navLink a:visited {
    color: #dfe12b;
}

.navLink a:hover {
    text-decoration: none;
    color: #dfe12b;
    /*background-color: navy;*/
    text-shadow: 0 0 5px #e6034b;
}

.navLink a:active{
    color: #165cc2;
    text-shadow: 0 0 5px #e6034b;
}

#signUpButton a{
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 120%;
    color: #165cc2;
    text-shadow: 0 0 5px #dfe12b;
    /*font-weight: bold;*/
}

#signUpButton a:hover{
    text-shadow: 0 0 5px #e6034b;
}

#tagline{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: .4em;
    margin: 0;
    height:50%;
    background-color: #9DB1CD;
    color: #165cc2;
    font-size: 130%;
    font-weight: normal;
}

#navigation {
    border-top: 3px solid #FF5716;
    border-bottom: 3px solid #FF5716;
    background-color: #9DB1CD;
    border-radius: 0 0 10px 10px;
}

#navigation ul{
    /*float: left;*/
    /*width: 85%;*/
    /*float: left;*/
    margin: 5px;
    padding-left: 0;
    list-style: none;
}

#navigation li{
    color: #165cc2;
    display: inline;
    border-style: hidden;
    border-left: solid;
    border-color: #FF5716;
    padding-left: 5px;
}

.lobster{
    font-family: 'Lobster', cursive;
}




/*END OF HEADER CSS*/

/*START OF INDEX CSS*/
#bodycontent{
    margin-top: 20px;
}

#homecolumn1{
    position: absolute;
    width: 21%;
    height: 50%;
    padding: 2px 10px 2px 5px;
    border: solid 1px #FF5716;
    background-color: #9DB1CD;
    overflow: auto;
}



#homecolumn2{
    float: right;
    margin-top: 0;
    margin-right: 0;
    width: 70%;
}


#signupcampaign, #partyAd{
    border: solid 1px #FF5716;
    margin: 0 1px 20px;
    margin-left: 10px;
    background-color: #9DB1CD;
    padding: 0px 10px 0px 10px;
}

#signupcampaign img{
    margin-top: 10px;
    margin-left: 12px;
}

/*END OF INDEX CSS*/

#ladder{
    position: relative;
    top: 20px;
    border: solid 1px #FF5716;
    background-color: #9DB1CD;
    margin: 0 0px 20px;
    height: 320px;
    padding: 0px 10px 0px 10px;
}

#ladder img{
    position:absolute;
    top: 10px;
    right: 10px;
}




#slammersDescription div{
    margin: 20px 0 20px 0;
    padding: 2px 10px 2px 5px;
    border: solid 1px #FF5716;
    background-color: #9DB1CD;
    overflow: auto;
}

#signUpBody div{
    margin: 20px 0 20px 0;
    padding: 2px 10px 2px 5px;
    border: solid 1px #FF5716;
    background-color: #9DB1CD;
    overflow: auto;
}

#signUpConfirmBody{
    margin: 20px 0 20px 0;
    padding: 2px 10px 2px 5px;
    border: solid 1px #FF5716;
    background-color: #9DB1CD;
    overflow: auto;
}

#aboutVolleyBody{
    margin: 20px 0 20px 0;
    padding: 2px 10px 2px 5px;
    border: solid 1px #FF5716;
    background-color: #9DB1CD;
    overflow: auto;
    /*background-image: url("Images/game.jpg");*/
}

#aboutVolleyColumn1 p, #aboutVolleyColumn1 h2{
    /*float:left;*/
    /*position: relative;*/
    width: 65%;
}

/*#aboutVolleyColumn1 p a:visited{*/
    /*color: #dfe12b;*/
/*}*/

#aboutVolleyColumn2{
    /*float:right;*/
    /*width: 60px;*/
    /*height: 100px;*/
}
/*#aboutVolleyColumn1 img{*/
    /*float:right;*/
    /*width: 60px;*/
    /*height: 100px;*/
    /*top:0;*/
    /*right:0;*/
/*}*/

#contactUsBody{
    margin: 20px 0 20px 0;
    padding: 2px 10px 2px 5px;
    border: solid 1px #FF5716;
    background-color: #9DB1CD;
    overflow: auto;
}

.contactColumn{
    border-right: solid;
    border-color: #FF5716;
}

