/*SITE WIDE*/
html{
    background: linear-gradient(30deg, #134d6b, #4d91a8);
    min-height: 100%;
}


body{
    padding-left: 12.5%;
    padding-right: 12.5%;
    font-family: Helvetica, Arial, sans-serif;
}


h2{
    font-family: 'Lobster', cursive;
    color: #165cc2;
    text-shadow: 0 0 5px #dfe12b;
}

.photoCredit{
    font-size: x-small;
    margin:0 0 0;
}

#homecolumn1,
#homecolumn2 div,
#aboutSlammersBody div,
#contactUsBody,
#signUpBody,
#aboutVolleyBody div,
#signUpConfirmBody{
    margin: 20px 0 20px 0;
    padding: 2px 10px 2px 5px;
    border: solid 1px #FF5716;
    background-color: #9DB1CD;
}

#contactUsBody, #signUpBody, #signUpConfirmBody{
    min-height: 300px;
}


/*START OF HEADER CSS*/
#header{
    padding: 0 0 0;
    width: 100%;
}

#logo{
    float: left;
    margin-left: 0;
    margin-top: 0;
    padding: 2px 0 1px;
    height: 109px;
    width: 109px;
}

#brand{
    padding-top: .2em;
    padding-bottom: .1em;
    padding-left: .4em;
    margin: 0;
    height: 50%;
    border-top: 3px solid #FF5716;
    border-bottom: 3px solid #FF5716;
    border-radius: 10px 10px 0 0;
    font-size: x-large;
    background-color: #9DB1CD;
    color: #165cc2;
}

#brand a:link{
    text-decoration: none;
    text-shadow: 0 0 5px #dfe12b;
}

#brand a:active,
#brand a:hover,
#brand a:visited{
    color: #165cc2;
    text-shadow: 0 0 10px #e6034b;
    text-decoration: none;
}


.navLink{
    font-weight: bold;
}


.navLink:link{
    text-decoration: none;
    color: #dfe12b;
    text-shadow: 0 0 5px #165CC2;
}


.navLink:visited{
    color: #dfe12b;
}


.navLink:hover{
    text-decoration: none;
    color: #dfe12b;
    text-shadow: 0 0 5px #e6034b;
}

.navLink:active{
    color: #165cc2;
    text-shadow: 0 0 5px #e6034b;
}

#signUpButton a{
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 120%;
    color: #165cc2;
    text-shadow: 0 0 5px #dfe12b;
}

#signUpButton a:hover{
    text-shadow: 0 0 5px #e6034b;
}

#tagline{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: .4em;
    margin: 0;
    height:50%;
    background-color: #9DB1CD;
    color: #165cc2;
    font-size: 130%;
    font-weight: normal;
}

#navigation {
    border-top: 3px solid #FF5716;
    border-bottom: 3px solid #FF5716;
    background-color: #9DB1CD;
    border-radius: 0 0 10px 10px;
}

#navigation ul{
    margin: 5px;
    padding-left: 0;
    list-style: none;
}

#navigation li{
    color: #165cc2;
    display: inline;
    border-style: hidden;
    border-left: solid;
    border-color: #FF5716;
    padding-left: 5px;
}

.headingFont {
    font-family: 'Lobster', cursive;
}
/*END OF HEADER CSS*/


/*START OF INDEX CSS*/
#indexBody {
    margin-top: 20px;
}

#homecolumn1{
    position: absolute;
    width: 21%;
    height: 50%;
    margin:0;
}

#homecolumn2{
    float: right;
    margin-top: 0;
    margin-right: 0;
    width: 70%;
}

#homecolumn2 div{
    /*border: solid 1px #FF5716;*/
    margin: 0 1px 20px;
    margin-left: 10px;
    /*background-color: #9DB1CD;*/
    /*padding: 0px 10px 0px 10px;*/
}

#homecolumn2 img{
    margin-top: 10px;
    margin-left: 12px;
}
/*END OF INDEX CSS*/


/*START OF LADDER CSS*/
#ladderBody{
    position: relative;
    top: 20px;
    border: solid 1px #FF5716;
    background-color: #9DB1CD;
    margin: 0 0px 20px;
    height: 350px;
    padding: 0px 10px 0px 10px;
}

#ladderBody img{
    position:absolute;
    top: 10px;
    right: 10px;
    border: solid 1px #FF5716;
}
#ladderBody table{
    width:65%;
}

#ladderBody table tr td{
    border-bottom: solid 1px #FF5716;
}

#ladderBody table tr th{
    border-bottom: solid 2px #FF5716;
}
/*END OF LADDER CSS*/


/*START OF CONTACT_US CSS*/

#contactUsText{
    float:left;
}

#contactUsImg{
    float:right;
    border: solid 1px #FF5716;
}

.contactColumn{
    border-right: solid;
    border-color: #FF5716;
    font-weight: bold;
}
/*END OF CONTACT_US CSS*/


/*START OF SIGN_UP CSS*/

#form{
    float:left;
    width: 70%;
}

#signUpImage{
    float: right;
    width:250px;
    height: 250px;
    border: solid 1px #FF5716;
}

#signUpImage p a{
    text-decoration: none;
}
/*END OF SIGN_UP CSS*/




